@model Shared.Models.CvIndex

<table class="table">
    @foreach (var item in Model.ListOfKompetens)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.ActionLink("Redigera kompetens", "Edit", "Kompetens", new { id = item.Id }, null) |
            @Html.ActionLink("Radera kompetens", "Delete", "Kompetens", new { id = item.Id }, null)
        </td>
    </tr>
    }
</table>