@model Shared.Models.CvIndex

<table class="table">

    <tr>
        <th>
            Projektnamn
        </th>
        <th>
            Beskrivning
        </th>
        <th>
            Utfördes (datum)
        </th>
        <th>
             
        </th>
    </tr>

    @foreach (var item in Model.ListOfProjekt)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskrivning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.ActionLink("Radera projekt från CV-sidan", "Delete", "UserInProject", new { id = item.Id }, null)
        </td>
    </tr>
    }
</table>