@model Shared.Models.CvIndex

<table class="table">
    @foreach (var item in Model.ListOfUtbildning)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        
        <td>
            @Html.ActionLink("Redigera utbildning", "Edit", "Utbildning", new { id = item.Id }, null) |
            @Html.ActionLink("Radera utbildning", "Delete", "Utbildning", new { id = item.Id }, null)
        </td>
    </tr>
    }
</table>